.letter-box {
    align-items: center;
    background-color: #F9F7FC;
    border: 1px solid #673ab7;
    color: #333;
    display: flex;
    font-weight: bold;
    justify-content: center;
    height: 3rem;
    margin: 0 0.5rem 0.5rem 0;
    width: 3rem;
}

.letter-box.correct {
    background-color: #04d16b;
}

.letter-box.present {
    background-color: #fec201;
}

.letter-box.absent {
    background-color: #a3a3a3;
}

